<html>
  <head>
    <title>  <%= title %> </title>
    <link rel="stylesheet" type="text/css" href="css/admin.css">
  </head>

  <body>

    <% if(username){ %>
        <h1>Admin Page</h1>
        <h2>Welcome! <%= name %> </h2>
        <button class="home_button" id="HomeButton"><a href="/"> Home </a></button>
        <button class="board_list_button" id="boardListButton"><a href="/boardlist/admin"> Board List Admin </a></button>
        <button class="board_write_button" id="boardWriteButton"><a href="/board/write"> Board Write </a></button>
        <button class="logout_button" id="logoutButton"> <a href="/logout"> Logout </a> </button>

    <% }else{ %>
        <h1> Admin Only😀 </h1>
        <button class="login_button" id="loginButton"> <a href="/login"> Admin Login </a> </button>
    <% } %>

  </body>
</html>